<div class="row row-cols-1 row-cols-md-2 g-4" >
<div class="col" *ngFor="let user of usuarios ">
    <div class="card" style="width:400px" >
        <img class="card-img-top" [src]="user.avatar " alt="Card image">
        <div class="card-body">
          <h4 class="card-title"> Name: {{ user.first_name }} </h4>
          <p class="card-text"> Lastname: {{ user.last_name }} </p>
          <p class="card-text"> ID: {{ user.id }} </p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>

</div>
</div>
